
@media screen and (min-width: 760px) {
  .label-column {
    max-width: 13rem;
  }

  .card-form form{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.card-travel-create{
    justify-content: space-between;
    gap: 1rem;
    padding: 0 5rem;
}

}