.card-travel-create{
  flex-direction: column;
  justify-content: center;
}

.medias-section{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.medias-section img{
  cursor: pointer;
  width: 120px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 28rem;
}

.tags-section{
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: center;
}

.tags-section-checkbox{
  flex-direction: row;
}

.form-voyages-page h4, .etape-form-page h4{
  width: 100%;
  text-align: center;
}

.form-voyages-page .card-travel{
  align-items: center;
}

.tags-section .tags-section-checkbox{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background: var(--grey);
  padding: 0.5rem 0.75rem;
  border-radius: 10rem;
}

.steps-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.card-form form{
    flex-direction: column;
    align-items: center;
}

.end-button{
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .medias-section{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.medias-section img{
  max-width: 14rem;
  aspect-ratio: 1/1;
}

  .label-column {
    max-width: 13rem;
  }

}

@media screen and (min-width: 620px) {
  .card-form form{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}


}

@media screen and (min-width: 620px) {
  .end-button{
  width: fit-content;
  text-align: center;
}

}