.card-travel-top{
    width: 100%;
}


.travel-photos-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.travel-photos-container-content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.travel-photos-container-content a{
  margin: -2.7rem 0.5rem 0 0;
}

.travel-photos-container img{
    width: 15rem;
    height:15rem;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
}


.main-media{
    margin-top: 12;
    text-align: center;
}

.main-media img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0.5rem;
    filter: brightness(70%);
}

.main-media p{
    margin-top: 6;
}

.tags-section{
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.info-voyage-page .tags-section{
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.tags-section-checkbox input{
    margin: 0;
}

.tags-section span{
    padding: 4px 10px;
    background: #eee;
    color: black;
    border-radius: 10rem;
    font-size: 13px;
}

/* .tags-section-checkbox{

} */

.card-travel-top{
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.card-travel-top p{
    margin: 0;
}

.main-media{
    position: relative;
}

.main-media h3{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--dark-grey);
}

.image-filter{
  filter: blur(30px);
  height: 3rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  width: 80%;
  background: var(--light-grey);
}


@media screen and (min-width: 500px) {
.main-media img{
    aspect-ratio: 6/2;
}


}