/*reset*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*globals*/

ul, li {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, #root{
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

main{
  background-color: var(--background);
  padding: 2rem 0;
}

#root {
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
  color:var(--light-grey);
  background-color: var(--background);
}

@font-face {
  font-family: 'Apfel Grotesk';
  src: url('././assets/fonts/ApfelGrotezk-Regular.woff');
}

@font-face {
  font-family: 'Apfel Grotesk Black';
  src: url('././assets/fonts/ApfelGrotezk-Black.woff');
}

@font-face {
  font-family: 'Apfel Grotesk Medium';
  src: url('././assets/fonts/ApfelGrotezk-Mittel.woff');
}

@font-face {
  font-family: 'Apfel Grotesk Bold';
  src: url('././assets/fonts/ApfelGrotezk-Fett.woff');
}

:root {
  --light-grey: #000;
  --dark-grey: #eee;
  --grey: #e6e6e6;
  --main-color: #4912ae;
  --dark-blue: #8577E6;
  --light-blue: #655DAA;
  --header-font: #071c2f;
  --light: #eeeeeec8;
  --background: #f2f8ff;
  --dark: #090809c8;
  --white: #fff;
}

:has(#dark-mode-toggle:checked) {
  --light-grey: #efefef;
  --dark-grey: #000;
  --background: #100b1f;
  --grey: #272727;
  --main-color: #4912ae;
  --dark-blue: #8577E6;
  --light-blue: #e3e1ef;
  --header-font: #071c2f;
}

* {
  font-family: 'Apfel Grotesk';
  box-sizing: border-box;
}

html{
  background-color: var(--light-grey);
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

h3{
  font-size: 2rem;
  margin: 0.3rem 0;
}

h4{
  font-size: 1.7rem;
  margin: 0.5rem 0;
}

.cta{
  background-color: var(--main-color);
  color: var(--dark-grey);
  border-radius: 10rem;
  padding: 0.3em 0.9em;
}


.cta-icon{
  width: 1rem;
  height: 1rem;
  border-radius: unset;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--dark-grey);
  filter: invert();
}

.cta-round{
  padding: 0.2em 0.5rem;
  line-height: 0.9;
  aspect-ratio: 1/1;
}

.cta-danger{
  background-color: var(--grey);
  color: var(--light-grey);
  justify-self: end;
}

.cta-danger img{
  filter: unset;
}

.filter-icon{
    color: var(--light-grey);
    filter: unset;
}

.icon-unset{
  transform: rotate(45deg);
}

