ul, li {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: 'Apfel Grotesk';
  src: url('././assets/fonts/ApfelGrotezk-Regular.woff');
}

@font-face {
  font-family: 'Apfel Grotesk Black';
  src: url('././assets/fonts/ApfelGrotezk-Black.woff');
}

@font-face {
  font-family: 'Apfel Grotesk Medium';
  src: url('././assets/fonts/ApfelGrotezk-Mittel.woff');
}

@font-face {
  font-family: 'Apfel Grotesk Bold';
  src: url('././assets/fonts/ApfelGrotezk-Fett.woff');
}

:root {
  --light-grey: #efefef;
  --dark-grey: #000;
  --blue: #8577E6;
  --dark-blue: #655DAA;
  --light-blue: #e3e1ef;
}


* {
  font-family: 'Apfel Grotesk';
  box-sizing: border-box;
}

html{
  background-color: var(--light-grey);
}

.logo{
  box-sizing: unset;
}

.nav-links{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.navbar{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--dark-grey);
}

.header-content{
  position: relative;
}

.cta{
  background-color: var(--blue);
  color: var(--light-grey);
}

.cta-icon{
  border-radius: 100%;
  padding: 0.3rem 0.7rem;
  background-color: var(--light-blue);
  color: var(--grey);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 4rem;
  position: relative;
}


h1{
  font-family: 'Apfel Grotesk Bold';
}

h2{
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  margin: 0;
  font-family: 'Apfel Grotesk Bold';
}


.card-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-cta{
  padding: 0.4rem 1rem;

}

.card-travels{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.card-dates{
  text-align: center;
  margin: 0.2 0;
}

.card-date{
  padding: 0.3rem 0.8rem;
  background-color: var(--light-blue);
  border-radius: 100px;
}

.card li{
  list-style: none;
}


.card-form form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-form label{
  display: flex;
  flex-direction: column;
  flex: 0 1;
}

.card-form input{
  padding: 0.3rem 0.8rem;
  margin-top: 0.5rem;
}


.card-travel{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-travel-preview, .card-travel-preview-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

}


.steps-section{
  width: 100%;
}

.card-footer{
  display: flex;
  gap: 1rem;
}