#root:has(.auth-page){
    display: flex;
    justify-content: center;
}

.auth-page {
display: flex;
flex-direction: column;
max-width: 500px;
justify-content: center;
align-items: center;
gap: 1rem;
}


.auth-page .label-column{
    max-width: unset;
}

.auth-page form {
display: flex;
flex-direction: column;
gap: 1rem;
text-align: left;
}

.auth-page input{
    background-color: var(--background);
    color: var(--light-grey);
}